header {
  background-color: #E62117;
  /*margin-bottom: 40px;*/
  color: white;
}

main {
  margin-top: 25px;
}

body, #black {
  font-family: 'Noto Sans', sans-serif;
  color: black;
}

header h1 {
  line-height: 1;
  margin-bottom: 0;
}

header p {
  margin-top: 0.5em;
}

/**{
  border: 1px solid;
}
*/.card {
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 18px;
}

.vlp {
  line-height: .5em;
}

.video-link {
  text-align: center;
  font-size: 10px;
}

.card-content table {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 25px;
}

.card-content p {
  margin: 0.5em 0;
  text-align: center;
}

.dollars {
  display: inline-block;
  /*text-align: center;*/
  /*padding-bottom: 20px;*/
}

#yelpreview {
  display: inline-block;
  width: 230px;
  height: 65px;
  overflow: hidden;
}
